.nav {
    margin-top: -41px;
}

.nav li.active a {
    color: grey;
}

.nav li.current a{
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.jumbotron {
    padding: 15px;
    width: 900px;
}

.col-lg-6 {
    float: left;
    width: 50%;
}

div.well {
    width: 900px;
}

div.well.footer {
    margin-bottom: 0;
    padding: 1px;
}

div.container {
    width: 900px;
    padding: 0;
}

div.row {
    width: 900px;
}

#footer {
    left: inherit;
    right: inherit;
}

div.well h2 {
    margin-top: 0;
}

h4 {
    line-height: 2;
}

body {
    padding-bottom: 145px;
}